<library path="lib/libpure_pursuit_controller">
    <class name="pure_pursuit_controller/PurePursuitController" type="pure_pursuit_controller::PurePursuitController"
           base_class_type="navigation_interface::Controller">
        <description>
            Pure pursuit for omni directional robots
        </description>
    </class>
</library>
